---
layout: compress
---

{% include header.html %}
<body>
  <div class="container border border-success">
    <h1 id="title-subscription">Formulário de Cadastro</h1>
    <form>
      <div class="container">
        <h3>Informações do Curso</h3>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Universidade</label>
            <input type="text" class="form-control" name="universidade" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>Nome do Curso</label>
            <input type="text" class="form-control" name="nome_do_curso" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>Nome do Coordenador</label>
            <input type="text" class="form-control" name="nome_do_coordenador" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Nome do Chefe de Departamento</label>
            <input type="text" class="form-control" name="nome_do_chefe_departamento" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>Departamento</label>
            <input type="text" class="form-control" name="departamento" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>Área de Conhecimento</label>
            <input type="text" class="form-control" name="area_conhecimento" required>
          </div>
        </div>
      </div>
      <div class="container">
        <h3>Informações de Contato do Curso</h3>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Cidade</label>
            <input type="text" class="form-control" name="cidade" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Estado</label>
            <input type="text" class="form-control" name="estado" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>CEP</label>
            <input type="text" class="form-control" name="cep" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Rua</label>
            <input type="text" class="form-control" name="rua" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Bairro</label>
            <input type="text" class="form-control" name="bairro" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Nº</label>
            <input type="text" class="form-control" name="numero" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>E-mail</label>
            <input type="text" class="form-control" name="email" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Telefone 1</label>
            <input type="text" class="form-control" name="telefone_1" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Telefone 2</label>
            <input type="text" class="form-control" name="telefone_2">
          </div>
        </div>
      </div>
      <div class="container">
        <h3>Informações de Contato do Solicitante</h3>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome_solicitante" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf_solicitante" required>
          </div>
          <div class="col-md-4 mb-3">
            <label>Celular</label>
            <input type="text" class="form-control" name="celular_solicitante" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>E-mail</label>
            <input type="text" class="form-control" name="email_solicitante" required>
          </div>
          <div class="col-md-3 mb-3">
            <label>Telefone</label>
            <input type="text" class="form-control" name="telefone_solicitante">
          </div>
        </div>
      </div>
      <button id="button-subscription" class="btn btn-success" type="submit">Cadastrar</button>
    </form>
  </div>
  {% include scripts.html %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function cadastrar(event, form) {
      event.preventDefault();
      var data = new FormData(form);
      let axiosConfig = {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      };
      axios.post('http://localhost:8000/portais/', data, axiosConfig)
        .then((res) => {
          window.location.replace("https://media.giphy.com/media/5n216OvKvfoUmwMU66/giphy.gif");
          console.log("RESPONSE RECEIVED: ", res);
        })
        .catch((err) => {
          console.log("AXIOS ERROR: ", err);
        });
    }
  </script>
</body>